/* Fix app layout */

/**{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}*/
body,
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /*margin: 0;
  padding: 0;*/
  box-sizing: border-box;
  overflow-x: hidden;
  /*font-family: Arial,sans-serif;*/
  background-color: #f4f7f6;

  /*font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: #707070;
  letter-spacing: 0.33px;*/
}

/* Remove default anchors styles */
a {
  text-decoration: none;
  color: inherit;
}